@use "./styles/constante.scss";

body{
  display: grid;
  place-items: center;
  background-color: #363636;
  font-family: constante.$font-stack;
}

#root{
  display: grid;
  place-items: center;
}

.App{
  display: flex;
  gap: 20px;
  justify-content: center;
}

p{
  font-family: constante.$font-stack;
}

input {
  all: unset;
}