@use "./styles/constante.scss";

body{
  display: flex;
  justify-content:center ;
  align-items: start;
  background-color: #363636;
  font-family: constante.$font-stack;
  height: 100%;
  width: 100%;
  margin: 0px;
}

p{
  all:unset;
}
html{
  height: 100vh;
  width:100vw;
}

#root{
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

.App{
  display: flex;
  padding-left: 55px;
  justify-content: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

p{
  font-family: constante.$font-stack;
}

input {
  all: unset;
}