@use "../../styles/constante.scss";

.btnClassic{
    background-color: constante.$primary-color;
    padding: 10px;
    color:constante.$primary-background;
    font-weight: 800;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btnDisabled{
    background-color: rgba(constante.$primary-color,0.4);
    padding: 10px;
    color:constante.$primary-background;
    font-weight: 800;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btnClassic:hover{
    background-color: constante.$primary-bold;
}
.btnClassic:active{
    background-color: constante.$primary-color;
}