@use "../../styles/constante.scss";


.LeftBar{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 55px;
    height: 100vh;
    background-color: constante.$lighter-background;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 10px;
    box-sizing: border-box;
    transition: width 0.2s;
    overflow:hidden
}

.LeftBarMenu{
    width: fit-content;
    max-width: 35px;
    height: 35px;
    overflow: hidden;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    gap: 10px;
    transition: background-color 0.1s;
    transition: max-width 0.1s ;
    overflow: hidden;
    box-sizing: border-box;
}

.iconMenu {
    width: 25px;
    height: 25px;
}

.LeftBarExpanded .LeftBarMenu {
    max-width:250px;
}

.LeftBar.LeftBarExpanded{
    width:200px;
}

.LeftBarMenu:hover{
    background-color: constante.$primary-color;
}

.LeftBarMenu.MenuActive{
    background-color: constante.$primary-shade;
}

p:link{
    text-decoration: none;
}