$font-stack: Helvetica, sans-serif;
$light-typo : #E9E9E9;

$primary-background: #ffe3d7;
$primary-color : #ff8551;
$primary-shade : #ffae8B;
$primary-bold : #ff6e30;
$primary-extra-bold : #e64500;

$background-color : #333;
$lighter-background : #6f6f6f;

$error-color : #ff4545;
$success-color : #2DA60F;
